body{
  margin:0;
  padding:0;
  background:#f8f3eb;
  font-family:Georgia,serif;
  color:#7a5c2e;
  text-align:center;
  display:flex;
  justify-content:center;
  align-items:center;
  min-height:100vh;
}

.container{
  width:90%;
  max-width:700px;
  padding:40px 20px;
}

.bismillah{
  font-size:42px;
  margin-bottom:15px;
}

h3{
  font-size:22px;
  font-weight:normal;
  line-height:1.7;
  margin-bottom:30px;
}

h1{
  font-size:60px;
  line-height:1.15;
  margin:25px 0;
}

button{
  background:#9b7428;
  color:white;
  border:none;
  padding:18px 45px;
  border-radius:40px;
  font-size:22px;
  cursor:pointer;
  transition:.3s;
}

button:hover{
  background:#7a5c2e;
  transform:scale(1.05);
}

@media(max-width:768px){
  h1{
    font-size:42px;
  }

  h3{
    font-size:18px;
  }

  button{
    width:100%;
    font-size:20px;
  }
}
